.Rproj.user
.httr-oauth
.Rhistory
data_12_19_2017
countsData
countsData_old
.RData
.DS_Store
*.swp
data
.idea
plumber.Rcheck
plumber_*.tar.gz
.temp
.old
.old_impl
.data_go
*.job
google_analytics.js
*.Rproj
.shinyapps/idep/data
shinyapps/ExtractData/data
shinyapps/idep/data
shinyapps/idep/data_go
shinylog
myDO.md
.countsData
.countsData_old
.data_12_19_2017
.data
.testweb
data.lnk
shinyapps/idep/local.config
docs/~$$idep UI Design.~vsdx
docs/~$$idep Workflow.~vsdx
docs/~$StoredVariableList.xlsx
docs/~$Output Variable List.xlsx
shinyapps/iDepModified/test.R
docs/~$me style.docx
