.Rproj.user
.httr-oauth
.Rhistory
.RData
.DS_Store
*.swp
.idea
plumber.Rcheck
plumber_*.tar.gz
.temp
.old
.old_impl
.data_go
*.job
google_analytics.js
*.Rproj
.shinyapps/idep/data
shinyapps/ExtractData/data
shinyapps/idep/data
shinyapps/idep/data_go
shinylog
myDO.md