[submodule "shinyapps/idepgolem1"]
	path = shinyapps/idepgolem1
	url = https://github.com/espors/idepGolem.git
[submodule "shinyapps/go"]
	path = shinyapps/go
	url = https://github.com/gexijin/shinygo.git
[submodule "shinyapps/idep11"]
	path = shinyapps/idep11
	url = https://github.com/gexijin/idepGolem.git
[submodule "shinyapps/go80"]
	path = shinyapps/go80
	url = https://github.com/gexijin/shinygo.git
