CONST_KRUTOSIS_LOG = 50
CONST_KRUTOSIS_WARNING = 10

CONST_EAD_PLOT_MAX_SAMPLE_COUNT = 100 	# max number of samples for EDA plots

CONST_KNN_MAX_GENE_CLUSTERING = 12000 # max genes for hierarchical clustering and k-Means clustering. Slow if larger
CONST_KNN_MIN_GENE_CLUSTERING = 10 # min genes for hierarchical clustering and k-Means clustering. Was hard coded in server R
CONST_KNN_ITERATION_MAX = 50 # max iteration of keans, was hard coded in server R


