CONST_KRUTOSIS_LOG = 50
CONST_KRUTOSIS_WARNING = 10

CONST_EAD_PLOT_MAX_SAMPLE_COUNT = 100 	# max number of samples for EDA plots

CONST_KNN_MAX_GENE_CLUSTERING = 12000 # max genes for hierarchical clustering and k-Means clustering. Slow if larger
CONST_KNN_MIN_GENE_CLUSTERING = 10 # min genes for hierarchical clustering and k-Means clustering. Was hard coded in server R
CONST_KNN_ITERATION_MAX = 50 # max iteration of keans, was hard coded in server R
CONST_KNN_MAX_CLUSTER_NUMBER = 30 # max number of cluster, used in find best number of cluster. (NCluster function)

Min_overlap <- 2
minSetSize = 3; 
mappingCoverage = 0.60 # 60% percent genes has to be mapped for confident mapping
mappingEdge = 0.5  # Top species has 50% more genes mapped
PvalGeneInfo = 0.05; minGenes = 10 # min number of genes for ploting
kurtosis.log = 50  # log transform is enforced when kurtosis is big
kurtosis.warning = 10 # log transformation recommnded 
minGenesEnrichment = 2 # perform GO or promoter analysis only if more than this many genes
PREDA_Permutations =1000
CONST_redudantGeneSetsRatio = 0.9
maxGeneClustering = 12000  # max genes for hierarchical clustering and k-Means clustering. Slow if larger
maxGeneWGCNA = 3000 # max genes for co-expression network
maxFactors =6  # max number of factors in DESeq2 models
set.seed(2) # seed for random number generator
mycolors = sort(rainbow(20))[c(1,20,10,11,2,19,3,12,4,13,5,14,6,15,7,16,8,17,9,18)] # 20 colors for kNN clusters
#Each row of this matrix represents a color scheme;
maxSamples = 100   # DESeq2 gets really slow when more than 50 samples
maxSamplesDefault = 30   # change default from DESeq2 to limma
maxComparisons = 20 # max number of pair wise comparisons in DESeq2


maxSamplesEDAplot = 100  # max number of samples for EDA plots

