CONFIG_SERVER_VERSION = 'iDEP.81'
CONFIG_SERVER_LANGUAGE = 'EN'

CONFIG_DATA_DATAPATH = '../../data/data92/'
CONFIG_DATA_READCOUNT_PATH = '../../data/readCounts/'
CONFIG_DATA_DEMO_READCOUNT = '../../data/Demo/BcellGSE71176_p53.csv'
CONFIG_DATA_DEMO_SAMPLEINFO = '../../data/Demo/BcellGSE71176_p53_sampleInfo.csv'

if(file.exists('local.config')){
	source('local.config')
}
